-
	var pages = [
		{
			id: "index",
			href: "index.html",
			name: "Главная"
		}, {
			id: "company",
			href: "company.html",
			name: "Компания"
		}, {
			id: "news",
			href: "news.html",
			name: "Новости"
		}, {
			id: "partners",
			href: "partners.html",
			name: "Стать партнёром"
		}, {
			id: "salons",
			href: "salons.html",
			name: "Салоны"
		}, {
			id: "contacs",
			href: "contacs.html",
			name: "Контакты"
		},
	];	
	var colls = [
		{
			id: "collections",
			href: "collections.html",
			name: "Fall–Winter 18/19"
		}, {
			id: "collections",
			href: "collections.html",
			name: "Spring–Summer 18"
		}
	];


footer
	.container
		.row
			.col-12.col-md-4.footer--logo
				img(src='/img/emse_logo_white.svg')
				.footer--langs
					a(href='/') Рус
					a(href='/').__active Eng

			.col-12.col-md-4.col-xl-3.footer--nav
				.footer--title Меню сайта
				ul
					each page in pages
						li(class=page.title)
							a(href=page.href)=page.name

			.col-12.col-md-4.col-xl-3.footer--nav
				.footer--title Коллекции
				ul.__colls
					each page in colls
						li(class=page.title)
							a(href=page.href)=page.name

				.footer-social
					a(href='#')
						img(src='/img/icons/i_tw.svg')
					a(href='#')
						img(src='/img/icons/i_yt.svg')
					a(href='#')
						img(src='/img/icons/i_fb.svg')
					a(href='#')
						img(src='/img/icons/i_inst.svg')


		.row.footer--email
			.col-12.col-md-8.offset-md-4
				a(href='mailto:hello@emse.by') hello@emse.by

		.row.footer--bottom_links
			.col-12.col-md-4
				a(href='#') 2019, émse fashion group
			.col-12.col-md-4.col-xl-5
				a(href='#') Политика конфидениальности
			.col-12.col-md-4.col-xl-3.__email
				a(href='#') made in flex.media


