block vars
	- var pageTitle = '';

title=pageTitle + ' — EmSe'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=375, initial-scale=1, shrink-to-fit=no")

link(href="/img/logos/emse_favicon-128.ico", rel='shortcut icon', type="image/x-icon" )


link(href="/css/grid.css", rel='stylesheet')
link(href="/css/hamburgers.min.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')

block head