footer {
    background-color: $color-footer;

    padding-top: 60px;
    padding-bottom: 90px;
    color: $color-white;

    .footer--title {
        margin-bottom: 33px;
        @include font($font-SangBleuEmpire, 400);
        color: $color-gray;
        font-size: 16px;
    }

    a {
        color: $color-white;

        &:hover {
            border-color: $color-white;
        }
    }

    [class*=col-] {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

        @include min_width(768) {
            margin-bottom: 0;
        }
    }
}


.footer--nav {

    ul {
        list-style: none;
        line-height: 20px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;

        li {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.__colls {
            font-family: $font-SangBleuEmpire;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.05em;
            margin-top: -7px;

            li {
                margin-bottom: 12px;
            }
        }

    }
}

.footer--logo {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.footer--langs {
    font-family: $font-SangBleuEmpire;
    letter-spacing: -0.05em;
    align-self: flex-end;
    width: 100%;
    margin-top: 60px;

    a {
        color: $color-orcha;
        margin-left: 33px;
        font-size: 16px;
        line-height: 16px;

        &:first-child {
            margin-left: 0;
        }

        &.__active {
            color: $color-white;

            &:hover {
                border-color: transparent;
            }
        }
    }
}

.footer--bottom_links {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    text-align: left;

    [class*=col-] {
        margin-bottom: 20px;
    }

    a {
        color: $color-orcha;

        &:hover {
            border-color: $color-orcha;
        }
    }
}

.footer-social {

    margin-top: 50px;

    a {
        margin-left: 16px;
        border: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

.footer--email {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.08em;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 64px;
    border-top: 1px solid $color-orcha;
}

@include min_width(768) {
    .footer--email {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@include min_width(1200) {
    .footer--email {
        letter-spacing: 0.08em;
        padding-top: 111px;
        padding-bottom: 111px;
    }

    .footer--bottom_links {
        .__email {
            text-align: right;
        }
    }
}