doctype html
html(lang='ru')
	head
		include ../partial/head.pug

	body
		include ../partial/header.pug

		main
			block content

		include ../partial/footer.pug

		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/base.min.js?v={VERSION_REPlACE}")

		block scripts
