a {
    text-decoration: none;
    color: $color-black;
    border-bottom: .5px solid transparent;
    transition: all .3s ease;

    &:hover {
        border-color: $color-black;
    }

    &:active,
    &:focus {
        border-bottom-color: $color-white;
    }

}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}