$font-SangBleuEmpire: "SangBleuEmpire",
sans-serif;

$font-FuturaNew: "FuturaNew",
sans-serif;

$color-white: #ffffff;
$color-black: #1F1F1E;
$color-footer: #8B634B;
$color-orcha: #E9D2C2;
$color-gray: #C4C4C5;